body {
  font-family: "Bookman", "Palatino", Georgia;
  background-color: #06113cee;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.1fr;
  text-align: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #eeeeee;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column: 2 / 3;
  gap: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #eeeeee;
  border: 5px solid #06113cee;
}
.books .card {
  display: grid;
  text-align: center;
  height: 400px;
}
.card {
  border: 5px solid #06113c;
  background-color: #ff8c32;
  color: #06113c;
  padding: 10px;
}
.form {
  border: 5px solid #06113cee;
  background-color: #eeeeee;
  color: #06113c;
}
#add-book {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px;
}
.add-book-button {
  margin-top: 30px;
}
button {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;
}
button:hover {
  background-color: #ff8c32;
}
